{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{%block content%}
<h3 class="text-center"> GENERAL</h3>
{{ macro.displaySourceList(general)}}
<h3 class="text-center"> SPORTS</h3>
{{ macro.displaySourceList(sports)}}
</div>
<h3 class="text-center"> ENTERTAINMENT</h3>
{{ macro.displaySourceList(entertainment)}}
<h3 class="text-center"> TECHNOLOGY</h3>
{{ macro.displaySourceList(technology)}}
<h3 class="text-center"> SCIENCE</h3>
{{ macro.displaySourceList(science)}}

{%endblock%}